@keyframes prefix{
	0% {
		transform: translateX(-20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes suffix{
	0% {
		transform: translateX(20%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}